.contact{
    padding:5em;
}

.text-contact{
    h3{
        font-weight: 700;
    }
}

.mapouter{
    position:relative;
    text-align:right;
    height: calc(70vh); 
}
    
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:inherit;
    width:inherit;
}
