.contact{
    padding: 3em 5em;
}

.text-contact{
    h3 {
        font-weight: 700;
    }
    h4 {
        margin-bottom: 1.5em;
    }
    h2 {
        font-weight: bold;
        text-align: center;
    }
}

.mapouter{
    position:relative;
    text-align:right;
    height: 50vh; 
}
    
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:inherit;
    width:inherit;
}
